*{
    box-sizing: border-box;
}

body {
    background-color: #821028;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex {
    display: flex;

}
input, button {
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding: 10px 10px;
    margin: 0;
}

input[type='text'] {
    width: 300px;
}

.btn-search {
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-random {
    cursor: pointer;
    margin-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 500px) {
    input[type='text'] {
        width: 100%;
    }
}