@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --success-color: limegreen;
    --error-color: orangered;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(https://subwallpaper.com/Widescreen-Wallpapers/laptop-wallpaper-nature-images-For-Widescreen-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.container {
    background-color: azure;
    border-radius: 5px;
    width: 450px;
    box-shadow: 0 2px 10px;
}

.form {
    padding: 10px 40px 40px;
}

h2 {
    text-align: center;
    color: green;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: rgb(65, 60, 60);
    margin-bottom: 5px;
    display: block;

}

.form-control input {
    color: gray;
    border: 2px solid lightgray;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}

.form-control input:focus {
    border-color:  Darkgray;
    outline: 0;
}

.form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;

}

.form-control.error small {
    visibility: visible;
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control.success input {
    border-color: var(--success-color);
}


.form button{
    cursor: pointer;
    background-color: green;
    border: 2px solid green;
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
}

button.home {
    cursor: pointer;
    background-color: lightgray;
    border: 2px solid lightgray ;
    color: gray;
    font-size: 16px;
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 55px;
    border-radius: 5px;  
}

button:hover {
     
    transform: scale(1.05);
    border-block-color: green;

}

.home:hover {
    background-color: lightseagreen;
    color: black;
}